$red: #B50014;
$black: #000000ea;
$white: #FFFFFF;

$width: 1920px;
$height1: 93px;

$font1: Roboto Condensed;
$font2: Roboto;

$fontsize1: 38px;
$fontsize2: 22px;
$fontsize3: 16px;
$fontsize4: 14px;
$fontsize5: 12px;
$fontsize6: 32px;
$fontsize7: 18px;

body{
  background-color: $black;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

*{
  padding: 0%;
  margin: 0;
}

button:hover{
  cursor: pointer;
}

:root {
  --base: $white;
  --text: $black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base: $black;
    --text: $white;
  }
}

html {
  color-scheme: dark light;
}

:root:has(#theme [value="dark"]:checked) {
  color-scheme: dark;
  --base: $black#;
  --text: $white;
}
:root:has(#theme [value="light"]:checked) {
  color-scheme: light;
  --base: $white;
  --text: $black;
}

body {
  color: var(--text);
  background-color: var(--base);
}
input,

.container2{
  color: var(--text);
  background-color: var(--base);
}

.klasa3{
  color: var(--text);
  background-color: var(--base);
}

.section4{
  color: var(--text);
  background-color: var(--base);
} 

.section7{
  color: var(--text);
  background-color: var(--base);
}


.with-scrollbar {
  height: 300px;
  border: 5px solid;
  overflow-y: scroll;
}

.container{
  margin: 0 auto;
}

.Pdf::before{
  content: url(../slike/pdf.png);
}

.container2{
  margin: 0 auto;
  width: 500px;
}

.nav {
  display: flex;
  height: $height1;
  background-color: $red;
  align-items: center;
  justify-content: center;
}

.nav li{
text-decoration: none;
display: inline-block;
font-family: $font2;
color: $white;
}

a{
  color: $white;
  text-decoration: none;
  margin-left: 40px;
  font-family: $font2;
  font-size: $fontsize2;
}

#logo{
    position: absolute;
    margin-left: 300px;
    margin-top: -50px;
    z-index: 2;
}

.open{
  height: 30px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.swiper {
  height: 679px;
}

.swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.swiper2{
  position: relative;
}

.swiper2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 414px;
  width: 429px;
  background-color: rgba(255, 255, 255, 0.103);
  overflow: hidden; 
}

.swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
}

.klasa1{
  width: 630px;
  height: 350px;
  font-family: $font1;
  top: 300px;
  background-color: #0000004D;
  position: absolute;
  z-index: 2;
}

#naslov1{
  padding-top: 67px;
  font-size: $fontsize1;
  font-family: $font1;
  color: $white;
  padding-left: 298px;
}

#text{
  font-family: $font2;
  font-size: $fontsize3;
  color: $white;
  padding-top: 15px;
  padding-left: 298px;
}

.klasa2{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 712px;
  gap: 193px;
}

.klasa3{
  display: flex;
  font-family: $font1;
  font-size: $fontsize2;
  flex-direction: column;

}

.dugme{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding-top: 66px;
}

#dugme1{
  border-radius: 30px;
  background-color: $red;
  width: 174px;
  height: 47px;
  color: $white;  
  border: $white;
  border: 1px solid;
}

#dugme2{
  border-radius: 30px;
  background-color: $red;
  width: 174px;
  height: 47px;
  color: $white;
  border: $white;
  border: 1px solid;
}

.slika10{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

.slikee{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

#naslov2{
  font-size: $fontsize1;
  font-family: $font1;
 
}

#naslov3{
  padding-top: 0px;
  font-size: $fontsize1;
  font-family: $font1;

}

#text2{
  padding-top: 40px;
  font-family: $font1;
  font-size: $fontsize2;

}

.klasa4{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.klasa5{
  flex: 1;
  display: flex;
  justify-content: center;
  font-family: $font1;
  font-size: $fontsize2;
  flex-direction: column;
  color: $white;
  background-color: $red;
  width: 100%;
  align-items: center;
}

#naslov4{
  font-size: $fontsize6;
  font-family: $font2;
  color: $white;
  flex-direction: column;
  padding-top: 50px;

}

#lista{
  font-family: $font2;
  font-size: $fontsize3;
  color: $white;
  text-align: left;
  flex-direction: column;
  padding-top: 29px;
 }

 #dugme3{
  border-radius: 30px;
  background-color: $white;
  width: 174px;
  height: 47px;
  color: $black;   
  border: $white;
  border: 1px solid $red;
}
.dugma3{
  padding-top: 29px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

 .Das{
  padding-top: 203px;
 }

#images{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.klasa6{
  flex: 1;
  width: 100%;
  margin: 0;
  padding: 0;
}

.klasa7{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#naslov6{
  text-align: center;
  font-size: $fontsize6;
  font-family: $font2;
  padding-top: 119px;
  justify-content: center;
}

#naslov7{
  text-align: center;
  font-size: $fontsize2;
  font-family: $font2;
  padding-top: 16px;
}

#text1{
  text-align: center;
  padding-top: 40px;
  font-family: $font1;
  font-size: $fontsize3;
  justify-content: center;
  padding-top: 65px;
}

.Das{
  padding-top: 30px;
}

#dugme4{
  border-radius: 30px;
  background-color: $red;
  width: 174px;
  height: 47px;
  color: $white;
  border: $white;
  text-align: center;
  border: 1px solid;
}

.logo2{
padding-top: 82px;
height: 85px;
top: 2742px;
justify-content: center;
align-items: center;
display: flex;
}

.klasa8{
display: flex;
justify-content: center;
gap: 16px;
padding-top: 46px;
}

.klasa9{
display: flex;
justify-content: center;
padding-top: 227px;
}

.zacini2{
  display: flex;
  width: 100%;
  height: 705px;

}

.Custome{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $red;
  width: 100%;
  gap: 29px;
  height: 705px;
  flex: 1;
}

#naslov8{
  padding-top: 180px;
  font-size: $fontsize6;
  font-family: $font1;
}

#naslov9{
  padding-top: 8px;

  font-size: $fontsize2;
  font-family: $font1;
}

#paragraf{
  padding-top: 33px;

  font-size: $fontsize3;
  font-family: $font2;
}

.klasa10{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("../slike/18.png ");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 193px;
  padding-bottom: 234px;
  width: 100%;
}


#Fleischversand{
  font-family: $font2;
  font-size: $fontsize6;
  align-items: center;

}

#dugme5{
  border-radius: 30px;
  background-color: $white;
  width: 174px;
  height: 47px;
  color: $black;   
  border: $white;
  border: 1px solid $red;
  align-items: center;
}

.Jetzt-bestellen{
padding-top: 40px;
}

.klasainfo{
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.grupa{
  justify-content: center;
 align-items: center;
 display: flex;
 gap: 260px;
}

#Capture{
padding-top: 127px;
height: 201px;
}

.grupa1{
  display: flex;
  flex-direction: column;
  gap: 17px;
}

#Brath{
  font-size: $fontsize6;
  font-family: $font2;
  padding-top:167px ;
}

#dugme6{
  border-radius: 30px;
  background-color: $red;
  width: 174px;
  height: 47px;
  color: $white;  
  border: $white;
  border: 1px solid;
}

.Gehen{
  padding-top: 32px;
}

.logo3{
  padding-top: 117px;
  justify-content: center;
  display: flex;
  }

  .klasa11{

      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 158px;
      padding-bottom: 130px;
      gap: 100px;
    }

.Auszeichnungen{
  font-family: $font2;
  font-size: $fontsize6;
  align-items: center;
}

.nagrada1{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $fontsize3;
  font-family: $font1;
}

.nagrada2{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $fontsize3;
  font-family: $font1;
}

#text5{
  text-align: center;
  padding-top: 14px;
}

#text6{
  text-align: center;
  padding-top: 14px;
}

#text7{
  text-align: center;
  padding-top: 14px;
}

#text8{
  padding-top: 14px;
}


.logo3{
  padding-top: 136px;
  justify-content: center;
  display: flex;
  }

  .Empfehlungs{
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: $fontsize7;
    font-family: $font2;
    padding-top: 42px;
  }

  .Leute{
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: $fontsize6;
    font-family: $font2;
    padding-top: 27px;
  }

  #dugme7{
  border-radius: 30px;
  background-color: $red;
  width: 174px;
  height: 47px;
  color: $white;  
  border: $white;
  border: 1px solid;
  }

.dugme7a{
  padding-top: 520px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.info{
  display: flex;
  height: 192px;
  background-color: $red;
  align-items: center;
  justify-content: center;
  margin-top: 76px;
}

.footer-logo{
  padding-left: 378px;
  padding-right: 230px;
  justify-content: center;
  align-items: center;
}

.listainfo li{
  text-decoration: none;
  margin: 9px;
}

.listainfo{
  font-family: $font2;
  font-size: $fontsize3;
  color: $white;
  align-items: center;
  display: flex;
  gap: 16px;
}

.listainfo1{
  font-family: $font2;
  font-size: $fontsize3;
  color: $white;
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 50px;
}

.kraj{
  display: flex;
  background-color: #66000B;
  align-items: center;
  justify-content: center;
  gap: 853px;
  font-family:$font2 ;
  font-size: $fontsize5;
  color: $white;
}


